body {
  color: #222222;
  background-color: #dddddd;
}

h1 {
  font-family: "Impact";
  margin-left: 10px;
}

.portfolio {
  text-align: center;
}

.portfolio h2 {
  color: navy;
}

.portfolio ul {
  list-style-type: square;
  text-align: left;
}

#contact {
  font-family: sans-serif;
}

.navbar {
  margin: 0;
  background-color: darkblue;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}
.menu {
  padding: 8px 16px;
}
.menu:hover {
  background-color: lightblue;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  background-color: lightblue;
  color: black;
}
.links {
  display: flex;
  justify-content: flex-end;
}

.page {
  display: flex;
  flex-direction: column;
}
.content {
  width: 100%;
}
.contact-me {
  background-color: navy;
  padding: 10px;
}
.contact-me p,
.contact-me h2,
.contact-me a {
  color: white;
}
.contact-me a:hover {
  color: lightgray;
}

@media only screen and (min-width: 961px) {
  .page {
    flex-direction: row-reverse;
  }
  .contact-me {
    background-color: darkgreen;
  }
}
